<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <h1>All Students</h1>

    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Education</th>
        </tr>
      </thead>
      <tbody>
        <% @students.sort.each do |student| %>
          <tr>
            <th scope="row"><%= student.id %></th>
            <td><%= link_to "#{student.first_name} #{student.last_name}", student %></td>
            <td><%= student.age %></td>
            <td><%= student.education %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
