// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#body-container{
  // background-color: #3D3F48;
  margin: 0;
}

.logged-navbar{
  padding: 1%;
  background-color: #f6ff00;
  border-bottom: 3px solid black;
}

.logged-navbar h3{
  margin-left: 35%;
  font-size:200%;
  display: inline;
  color:#353741;
  margin-right: 33%;
}

#logged-navbar{ // for the navbar specifiacally on the admins index page
  border: 2px solid #f5a212;
}

#logged-content{
  color: #3D3F48;
  margin-top: 8%;
  text-align: center;
}

#logged-content a{
  background-color: #f6ff00;
  border-radius: 6px;
  padding: 2vh;
  color: #363A3D;
  text-decoration: none;
}

#logged-content a:hover{
  background-color: #E0A800;
}
